{% extends "layout.html" %}

{% block content %}
<style>
	.next {
      border: 1px solid black;
      border-collapse: collapse;
      width: 6.5%;
      border-right: 
      padding: 5px;
      background-color: #1abc9c;
      float: right;
    }

    .previous {
      border: 1px solid black;
      border-collapse: collapse;
      width: 5%;
      border-right: 
      padding: 5px;
      background-color: #1abc9c;
      float: left;
    }

    h1 {
    	text-align: center;
    }

</style>

<p>
  Here you can view my CV, web apps and also leave feedback & leave a review.
</p>


<br>
<div>
	<div class="next">
		<a href="{{ url_for('home') }}">NEXT</a>
	</div>   

	<div class="previous">
		<a href="{{ url_for('intro6') }}">Previous</a>
	</div>
</div>


{% endblock %}