{% extends "layout.html" %}

{% block content %}
<style>
	.next {
      border: 1px solid black;
      border-collapse: collapse;
      width: 6.5%;
      border-right: 
      padding: 5px;
      background-color: lightgray;
      float: right;
    }

    .skip {
      border: 1px solid black;
      border-collapse: collapse;
      width: 5%;
      border-right: 
      padding: 5px;
      background-color: lightgray;
      float: left;
    }

    h1 {
    	text-align: center;
    }

    .bk {
    	text-align: right;
    }

</style>
<div class="motto">
	<h1>Design. Build. Apply!</h1>
</div>

<div>
	<table>
		<tr>
			<th>SINCLAIR AKOTO PORTFOLIO</th>
		</tr>
	</table>
</div>
<br>
<div>
	<div class="next">
		<a href="{{ url_for('intro2') }}">NEXT</a>
	</div>
	<div class="skip">
		<a href="{{ url_for('home') }}">Skip</a>
	</div>
</div>


{% endblock %}