{% extends "layout.html" %}

{% block body %}

<style>
	.content {
		padding: 20px;
		background-color: rgba(26,188,156,0.591);
		width: 60%;
	}
</style>

<body>

	<h1 style="text-align: center">My Web Apps</h1>

	<div>
		<p>Here are some of the web apps that I have created; some are for study purposes and others have been buit for clients.</p>
		<br>
		<p>Feel free to test out these apps and leave a <a href="{{ url_for('feedback') }}">feedback</a> when you're done!</p>
	</div>
	<br>
	<div class="content">
		<div>
			<a href="https://jobs-log.herokuapp.com/"><h4>Jobs Log</h></h4></a>
			<p>This was created for a member of the Audio Visual department within a corperate establishment.  After each job they complete, it is recored in their spreadsheet on their laptop.  The client asked for a way to record a job, but without the need to access their laptop.</p><p>
			The parameters are alraedy set, so all the user needs to do is enter the data & press enter; once that happens the information is stored in a (PostgreSQL) database, then reloaded back onto the page for the user to see. I have created a reports page where the user can run a report for the different type of jobs, and the different type of outcomes (if completed or not ect).  This puts the user at a variable position when they can access & update their table at anytime, with the use of a smartphone or device.  As I deepen my skillset I will apply it to this app, making it a little more intricate as I progress.</p>
		</div>
	</div>
	<br>
	<br>
	<div class="content">
		<div>
			<a href="https://easychef-01.herokuapp.com/"><h4><strong>EasyCHEF!</strong></h4></a>
			<P>EasyCHEF is a simple app that allows the user to recieve a random recipe by supplying the app with ingredients.  This app is testing the way I communicate with API's in order to retrieve information.</P><p>EasyCHEF! will be developed upon as I experiement & increase my skills.</p>
		</div>
	</div>
	<br>
	<br>
	<div class="content">
		<div>
			<a href="https://sinclairconnect.herokuapp.com/"><h4><strong>Sinclair Connect</strong></h4></a>
			<p>A simple app that uses an API to send SMS messages to UK numbers.  Being aable to send a message to another UK number in case of an emergency (for instance if your phone died), would be seen as an advantage of this web app.<br><br>
			An expansion of this web app will be created when I come more comfortable with using different types of API's within apps.  I will create extra functions like how to send emails and messages to social media through the web app.</p>
		</div>
	</div>
	<br>
	<br>
	<div class="content">
		<div>
			<a href="https://jaffautism.herokuapp.com/">Jonny And Friends For Autism</a> <strong>(Contact Service)</strong>
			<p>The owner of this charity wanted to engage with families who are affected by autism (directly/indirectly) through her website and amongst other means.  I sugested one of the ways to achieve this would be to create a platform where her demographic could contact her through SMS on her webpage; in return she would recieve the text and respond back to the person via her website.  The reciever would then get a response via text message, whcih would appear to have been sent from her charity website - Jonny And Friends For Autism.
			<br><br>
			I have also included an email functionality page; once logged into the admin page the owner can not only send response SMS messages, but can also email any person with a valid email address.  The email being sent it automated with a footer signed by the owner and their Jonny And Friends For Autism logo.<br><br>
			<strong>Key Features:</strong><br>
			<li>Send text messages to UK numbers</li>
			<li>Recieve SMS sent from web app</li>
			<li>Log in: You will be redirected to login if an attempt to access the admin page without signning in.</li>
			<li>Send emails to any valid email address.  Each email being sent is attached with a footer & logo at the bottom.</li></p>
		</div>
	</div>
	<br>
	<br>
	<div class="content">
		<div>
			<a href="https://flask-dash-sin.herokuapp.com/">1st Flask-Dash APP</a> <strong>(Test Mode)</strong>
			<p>
			This is a simple web app that displays data in a graph format, for the user to view.
			<br><br>
			The user can insert data into the (PostgreSQL) database; the data is stored and then reloaded onto the graph.  There are still some bugs and minor errors that I need to address; I also would lke to create different types of graphs by using Plotly - scatter graphs, pie charts, line graph, 3D graphs, animated graphs etc.  This will be after I become more familiar with using Dash with Flask.<br><br>
			<strong>Key Features:</strong><br>
			<li>Input data into PostgreSQL database</li>
			<li>F-string to show user information inserted into database.</li>
			<li>Connect database colums to X & Y axis</li>
			<li>Upload database for users to view.</li>
			</p>
		</div>
	</div>
	<p>What did you think?  You can leve a <a href="{{ url_for('review') }}">review</a>!</p>

</body>

{% endblock %}