{% extends "layout.html" %}

{% block body %}

<style>

	/* Popup container - can be anything you want */
	.popup {
	  position: relative;
	  display: inline-block;
	  cursor: pointer;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}

	/* The actual popup */
	.popup .popuptext {
	  visibility: hidden;
	  width: 200px;
	  background-color: #555;
	  color: #fff;
	  text-align: center;
	  border-radius: 6px;
	  padding: 8px 0;
	  position: absolute;
	  z-index: 1;
	  bottom: 125%;
	  left: 50%;
	  margin-left: -80px;
	}

	/* Popup arrow */
	.popup .popuptext::after {
	  content: "";
	  position: absolute;
	  top: 100%;
	  left: 50%;
	  margin-left: -5px;
	  border-width: 5px;
	  border-style: solid;
	  border-color: #555 transparent transparent transparent;
	}

	/* Toggle this class - hide and show the popup */
	.popup .show {
	  visibility: visible;
	  -webkit-animation: fadeIn 1s;
	  animation: fadeIn 1s;
	}

	/* Add animation (fade in the popup) */
	@-webkit-keyframes fadeIn {
	  from {opacity: 0;} 
	  to {opacity: 1;}
	}

	@keyframes fadeIn {
	  from {opacity: 0;}
	  to {opacity:1 ;}
	}

	.content {
		padding: 20px;
		background-color: rgba(26,188,156,0.591);
	}

	.container {
	  border-radius: 5px;
	  background-color: #f2f2f2;
	  padding: 20px;
	  width: 50%;
	}

	.cv_Header {
		text-align: center;
		padding: 2px;
	}

	hr {
		display: block; height: 1px;
		border: 0; border-top: 1px solid black;
		margin: 1em 0; padding: 0;
	}

	.textStyle {font-style: italic;}
</style>

<h1 style="text-align: center">Curriculum Vitae</h1>

<body>
	<div class="content">
		<div class="cv_Header">
			<h2>Sinclair Akoto</h2>
			<h4><a href="https://sinclairconnect.herokuapp.com/textMe">07481790498</a>  |  London</h4>
			<div class="popup" onclick="myFunction()">Click me!
			  <span class="popuptext" id="myPopup">With a genuine dedication to Python & coding, I would relish the opportunity to be able to work in an collaborative envrionment and learn as many technical skills as possible to enhance my coding ablility and to contribute even more to the team I work with.<br></span>
			</div>
			<script>
			// When the user clicks on div, open the popup
			function myFunction() {
			  var popup = document.getElementById("myPopup");
			  popup.classList.toggle("show");
			}
			</script>
		</div>
		<div class="summary">
			<p>
				<h2><strong>Summary</strong></h2>
				<hr>
				An aspiring Junior Python Developer, looking to kick start a career within the Tech Industry.  Not only do I enjoy coding, I have a very large interest and self motivation to learn more day by day.  This means after my 12hr shift working as a security officer, I find myself studying, and building Python & Flask applications (often until the early hours!).
				<br><br>
				I am a capable, enthusiastic and confident individual, with strong interpersonal & communication skills.  Being computer literate, self-motivated, and priding myself with a dedicated, committed and hardworking approach to any situation or scenario I am in, would also be considered a unique skill of mine.  I am able to work under pressure and to tight deadlines (both on my own initiative and in a team environment), with proven experience in a corperate office environment.  I would also concider myself to have an excellent attention to detail coupled with strong organisation skills.
			</p>
		</div>
		<div class="container">
			<div class="keySkills">
				<p>
					<h2><strong>Key Skills</strong></h2>
					<hr>
					<ul>
						<li>Python & Flask</li>
						<li>Building web apps with <a href="https://sinclairconnect.herokuapp.com/">API's</a></li>
						<li>SQL - PostgresSQL, SQLite3, MySQL</li>
						<li>Git / Bash / GitHub</li>
						<li>Heroku server</li>
						<li>Data collation / Data Migration</li>
						<li>Relational Databases</li>
						<li>Object Relational Mapping</li>
						<li>Object Orientated Programming</li>
						<li>Data Visualisation - Building Plotly / Dash graphs</li>
						<li>Attention to detail</li>
						<li>Highly self motivated, can also work well in a team</li>
						<li>Willingness to learn & adapt</li>
					</ul>
				</p>
			</div>
			<br>
			<div class="keyAchievements">
				<p>
					<h2><strong>Key Achievements</strong></h2>
					<hr>
					<ul>
						<li>The confiedence to find a solution when I come across bug errors and other discrepancies.  Due to my high use of trail and error when coding, it may sometimes take me a while to solve a problem within a code.  However, I do not see this as a disadvantage, but rather an advantage where I am taking a detailed approach to find a solution and remembering how to remedy it when a resolution is found.</li>
						<li>Built my first program in under 6 weeks.  This program is called <strong>EasyCHEF!</strong> and it is deployed locally from my laptop.</li>
						<li>The new EasyCHEF! web app is slightly different; it uses an API to retrieve a recipe then display only the name of recipe, cooking method and web page back to the user.  I will test different ways how my web app can interact with API's to produce a more detailed & intricate search for recipes.</li>
						<p>You can test the EasyCHEF! web app <a href="https://easychef-01.herokuapp.com">here</a>.</p>
						<p>You can view the code for the web app on GitHub <a href="https://github.com/SinclairPythonAkoto/easychef-01">here</a>.</p>
						<br>
						<li>Data Collation web apps:</li>
							<ul>
								<li><strong>Feedback Forms:</strong>	Developed a feedback form for a shisha bar/restuarant (<a href="http://www.aurous79.com/">Aurous79</a>).  The (previous) owner at the time wanted a way to collect customers' details by giving them dicsounts on their bills as an incentive.  I suggested a feedback form where he could ask questions related to his buiness/customer service, and also gain the opportunity to collate customer information.  Once they enter their details (such as name & email), they will recieve an automated email once the feedback form has been completed.  The owners can then log into the admin page with their username & password, and run a report with the information given, and harvest their customer information for future promotions & advertisement.</li>
								<li>The information is stored into a database and then reloaded back onto the HTML page for the user to see.</li>
								<p>You can view my code on GitHub <a href="https://github.com/SinclairPythonAkoto/aurous-email-0.2">here</a>.  This uses an SQLite3 database which can be run from your local computer</p>
								<p>You can test out the online Aurous79 Feedback Form <a href="https://aurous79feedback.herokuapp.com">here</a>.  This uses a PostgreSQL database which is connected to the app through a remote server online.</p>
								<li><strong>Spreadsheet Compiler:</strong>	Built a <a href="https://jobs-log.herokuapp.com/">Jobs Log</a> which is an app that easily helps the user to complie information into one spreadsheet.  This <a href="https://jobs-log.herokuapp.com/">Jobs Log</a> has a row of columns that the user fills in (in this case an Audio Visual department); when the log is submitted it is stored into a (remote PostgreSQL) database and then uploaded back onto the same page.  Every new log entered creates a new row in the table below.  The AV department can then run reports from the different columns (such as the type of job and the outcome of each job).</li>
								<p>You can view my code on GitHub <a href="https://github.com/SinclairPythonAkoto/jobs-log">here</a>.</p>
								<p>You can test out the Jobs Log <a href="https://jobs-log.herokuapp.com/">here</a>.</p>
								<li><strong>Apps Under Construction:</strong></li>
								<ul>
									<li>Visitor Log In System</li>
									<li>Signup/Create Profile - platform where users can create their own profile (if they don't already have one) in order to gain access to a page.</li>
									<li>A Booking System - book classes at a gym</li>
									<li>Shopping Page - the ability to add items in a basket and give the total cost to the user.  Also redirect page to a <strong>secure</strong> payment system.</li>
									<li>An extension of the Jobs Log where I would house many different departments under one site.  Each colleague would choose which department they work in, enter their unique password in orderto gain access to their spreadsheet.</li>
								</ul>
							</ul>
							<br>
							<li>Built my first online <a href="https://flask-sqlalchemy-test-02.herokuapp.com/">webpage</a>.  This page was a simple page whcih tested out the bare bones basics (which I needed).  Te page has three links; the first link directs you to a page to view entries in a (PostgreSQL) database.  The second link directs you to a page with an image emdedded in the background.  The main task was to connect my web app to the database on the reomote server and then display the data back onto the page.  Once this worked, this allowed me to redevelop my offline apps and post them online.</li>
							<p>You can view my code on GitHub <a href="https://github.com/SinclairPythonAkoto/flask-sqlalchemy-test-02">here</a>.</p>
							<p>You can test the web app <a href="https://flask-sqlalchemy-test-02.herokuapp.com/">here</a>.</p>
					</ul>
				</p>
			</div>
		</div>
		<div class="education">
			<p>
				<h2><strong>Education</strong></h2>
				<hr>
				<strong>2008 - 2010</strong>   <a href="https://www2.mmu.ac.uk/">Manchester Metropolitan University</a> (Film & Television Broadcast Media)<br>
				<strong>2006 - 2008</strong>   <a href="https://stockport.ac.uk/">Stockport College</a><br>
				<strong>1998 - 2003</strong>   <a href="http://wrightrobinson.co.uk/">Wright Robinson Sports College</a>
			</p>
		</div>
		<br>
		<div class="qualifications">
			<h2><strong>Qualifications</strong></h2>
			<hr>
			SIA Door Supervision & CCTV badge<br>
			Foundation Degree in Film & Televsion Broadcast Media<br>
			National Diploma in Media: Moving Images<br>
			8 GCSE's (Maths, English Language, English Literature, Double Award Science)<br>
		</div>
		<br>
		<div class="employmentHistory">
			<h2><strong>Employment History</strong></h2>
			<hr>
			<strong>Security Officer</strong> - <a href="https://www2.deloitte.com/content/campaigns/uk/insurancetrends/insurancetrends/insurancetrends.html">Deloitte</a> (London)
			<div class="textStyle">August 2018 - Present</div>
			<ul>
				<li>Access control, concierge service, interior patrols, ensuring public safety</li>
				<li>Floor walking / Floor patrols</li>
				<li>Incident reporting</li>
				<li>Ensuring staff members are allocated in correct positions.</li>
			</ul>
			<div class="textStyle">Accomplishments</div>
			Gained some training in control room duties, also trained new operatives fire escape & emergency procedures.<div></div>
			<br>
			<div class="textStyle">Skills Used</div>
			Paying attention to detail, working as an individual or as part of a team; as well as upkeeping high standards in communication, organisation & time keeping.
			<br>
			<br>
			<br>
			<strong>Security Officer</strong> - <a href="https://www.willistowerswatson.com/en-GB">Willis Towers Watson</a> (London)
			<div class="textStyle">April 2016 - August 2018</div>
			<ul>
				<li>Access control, CCTV patrols, interior & exterior patrols</li>
				<li>Control room duties</li>
				<li>Hotel concierge service & client/customer service</li>
				<li>Ensuring public safety</li>
			</ul>
			<div class="">Accomplishments</div>
			Cover supervisor role & training new security operatives on site.<div></div>
			<br>
			<div class="textStyle">Skills Used</div>
			Paying attention to detail, working as an individual or as part of a team, communication, organisation & time keeping are essential in the security industry - as this could effect other colleagues if high standards are not kept.
			<br>
			<br>
			<br>
			<strong>Lighting Technician</strong>  (<a href="https://www.imdb.com/find?ref_=nv_sr_fn&q=sinclair+akoto&s=all">Spark</a> on film sets)
			<div class="textStyle">May 2010 - Present</div>
			<ul>
				<li>Setting up lighting equipment on a film set</li>
				<li>Use technical skills to create character & dimension to a scene.</li>
				<li>Making sure the lighting set up is safe and not hazadous for any other film crew on set.</li>
				<li>Making sure the job is quickly and safely completed, often to a very tight schedule.</li>
			</ul>
			<div class="textStyle">Accomplishments</div>
			Producing creativity into a filmset, adhering to a scrict deadline, and the ability to think quickly outside the box in order to find a solution to a problem.<div></div>
			<br>
			<div class="textStyle">Skills Used</div>
			Being able to work with a large amount of people from different backgrounds, working individually to effectively get the job done as a team.  Project knowledge, communication skills and being able to think on my feet are also an essential skill in the film industry.
		</div>
		</div>
		<br>
		<br>
		<div class="hobbies">
			<p>
				<h2><strong>Hobbies and Interests</strong></h2>
				<hr>
				I like to exercise and study more about Pyhton & Flask in my spare time.  I also have a big passion for filming, I have an interest of writing scripts and filming sketches when I get the chance.  Click <a href="https://www.youtube.com/watch?v=AqBDmmsJHak">here</a> to view a comedy sketch I made years ago in University.
			</p>			
		</div>
		<h4 class="textStyle" style="text-align: center"><strong>References available on request.</strong></h4>
	</div>
	<div>
		<p>What do you think of my CV? You can leave a <a href="{{ url_for('review') }}">review</a> or send me <a href="{{ url_for('contact') }}">message</a>.</p>
	</div>
</body>

{% endblock %}