{% extends "layout.html" %}

{% block body %}

<style>
	.content {
		padding: 20px;
		background-color: rgba(26,188,156,0.591);
		width: 60%;
	}
</style>

<h1 style="text-align: center">Interactive!</h1>

<p>This page will be complete with puzzles, games and some other features as my skillset increases...</p>

<div class="content">
	<form>
		<div>
			<a href="https://easychef-01.herokuapp.com/"><h4><strong>EasyCHEF!</strong></h4></a>
			<p>Are you fed up of eating the same meal over & over again?  Do you want to test your culinary skills? Tell EasyCHEF! what you have to recieve a recipe!</p>
			<P>EasyCHEF is a simple app that allows the user to recieve a random recipe by supplying the app with ingredients.  This app is testing the way I communicate with API's in order to retrieve information.</P><p>EasyCHEF! will be developed upon as I experiement & increase my skills.</p>
		</div>
	</form>
</div>
<br>
<br>
<div class="content">
	<div>
		<a href="https://sinclairconnect.herokuapp.com/"><h4><strong>Sinclair Connect</strong></h4></a>
		<p>Send a quick SMS to any UK number!  This app will be expanded to other communication platforms such as emailing and WhatsApp - all with the use of API's.<br><strong style="font-style: italic">Please note that I have made sure NOT to store any numbers and messages being sent from this app.</strong></p>
		<p>This is a simple a web app that uses an API to send SMS messages.</p>
	</div>
</div>


{% endblock %}