{% extends "layout.html" %}

{% block body %}

<style>
	.content {
		padding: 20px;
		background-color: rgba(26,188,156,0.591);
		width: 60%;
	}
</style>

<body>

	<h1 style="text-align: center">My Web Apps</h1>

	<div>
		<p>Here are some of the web apps that I have created; some are for study purposes and others have been buit for clients.</p>
		<br>
		<p>Feel free to test out these apps and leave a <a href="{{ url_for('feedback') }}">feedback</a> when you're done!</p>
	</div>
	<br>
	<div class="content">
		<div>
			<a href="https://jobs-log.herokuapp.com/"><h4>Jobs Log</h></h4></a>
			<p>This was created for a member of the Audio Visual department within a corperate establishment.  After each job they complete, it is recored in their spreadsheet on their laptop.  The client asked for a way to record a job, but without the need to access their laptop.</p><p>
			The parameters are alraedy set, so all the user needs to do is enter the data & press enter; once that happens the information is stored in a (PostgreSQL) database, then reloaded back onto the page for the user to see. I have created a reports page where the user can run a report for the different type of jobs, and the different type of outcomes (if completed or not ect).  This puts the user at a variable position when they can access & update their table at anytime, with the use of a smartphone or device.  As I deepen my skillset I will apply it to this app, making it a little more intricate as I progress.</p>
		</div>
	</div>
	<br>
	<br>
	<div class="content">
		<div>
			<a href="https://easychef-01.herokuapp.com/"><h4><strong>EasyCHEF!</strong></h4></a>
			<P>EasyCHEF is a simple app that allows the user to recieve a random recipe by supplying the app with ingredients.  This app is testing the way I communicate with API's in order to retrieve information.</P><p>EasyCHEF! will be developed upon as I experiement & increase my skills.</p>
		</div>
	</div>
	<br>
	<br>
	<div class="content">
		<div>
			<a href="https://sinclairconnect.herokuapp.com/"><h4><strong>Sinclair Connect</strong></h4></a>
			<p>A simple app that uses an API to send SMS messages to UK numbers.  Being aable to send a message to another UK number in case of an emergency (for instance if your phone died), would be seen as an advantage of this web app.
			<br><br>
			An expansion of this web app will be created when I come more comfortable with using different types of API's within apps.  I will create extra functions like how to send emails and messages to social media through the web app. <br><strong style="font-style: italic">Please not that I have made sure the app does NOT store numbers and messages being sent from this app.</strong></p>
		</div>
	</div>
	<p>What did you think?  You can leve a <a href="{{ url_for('review') }}">review</a>!</p>

</body>

{% endblock %}